{% load static %}

 <head>
    <link href="css/clean-blog.min.css" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href = "{% static 'blog/css/style.css' %}" />
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
<h1>~~~~다들 소리 질러~~~~</h1>
<br><br><br>


<div class="post">
    {% if post.pub_date %}
        <div class="date">
            {{post.pub_date}}
        </div>
    {% endif %}
    <h1>{{post.title}}</h1>
    <p>{{post.body|linebreaksbr }}</p><br>
    <a href="{% url 'home' %}">홈으로</a>
</div>